{% extends "base.html" %}

{% block content %}
<div class="landing-page">

    <section id="features" class="section">
        <h2>Choose by Category</h2>
        <div class="features-grid">
            <div class="feature-card">
                <div class="expiring-product-image-container">
                    <img src="/static/images/fnv.png" alt="Fruits and Vegetables">
                </div>
                <a href="{{ url_for('expiring_offers', category='f') }}" class="btn-secondary">
                                        <h3>Fruits and Vegetables</h3>
                </a>
            </div>
            <div class="feature-card">
                <div class="expiring-product-image-container">
                    <img src="/static/images/grains.png" alt="Grains and Bread based products">
                </div>
                <a href="{{ url_for('expiring_offers', category='g') }}" class="btn-secondary">
                                        <h3>Grains and Bread based products</h3>
                </a>
            </div>
            <div class="feature-card">
                <div class="expiring-product-image-container">
                    <img src="/static/images/dp.png" alt="Dairy and related products">
                </div>
                <a href="{{ url_for('expiring_offers', category='d') }}" class="btn-secondary">
                                        <h3>Dairy and related products</h3>
                </a>
            </div>
            <div class="feature-card">
                <div class="expiring-product-image-container">
                    <img src="/static/images/nuts.jpg" alt="Nuts and related products">
                </div>
                <a href="{{ url_for('expiring_offers', category='n') }}" class="btn-secondary">
                                        <h3>Nuts and related products</h3>
                </a>
            </div>

        </div>
    </section>

    <section id="join-us" class="section">
        <h2>Join Our Sustainability Movement</h2>
        <p>Become part of a global model for green universities and make an impact today!</p>
        <a href="/register" class="btn-secondary">Get Started</a>
    </section>


    <footer class="footer">
        <p>© 2025 Green Campus Initiative. Empowering Sustainable Change.</p>
    </footer>
</div>
{% endblock %}