{% extends "base_dashboard.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav id="sidebar" class="sidebar">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('dash.dashboard') }}">
                            <i class="bi bi-house me-2"></i> Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('dash.rewards') }}">
                            <i class="bi bi-gift me-2"></i> Rewards
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.reset_password') }}">
                            <i class="bi bi-person me-2"></i> Reset Password
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('smart_exp.view_expiring_products') }}">
                            <i class="bi bi-gift me-2"></i> Expiring Products
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Main content -->
        <main class="col offset-2 px-md-5 py-4">
            {% block dashboard_content %}{% endblock dashboard_content %}
        </main>
    </div>
</div>
{% endblock content %}